<!DOCTYPE html>
<html lang="uk-UA">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title>Чат - {{ title }}</title>
    {% else %}
    <title>Чат міста Жашкова</title>
    {% endif %}

</head>

<body>
    <!-- Flash повідомлення -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Повідомлення, якщо такі є, повертаються у вигляді списку. І не на всіх переробках сторінок буде повідомлення. Тож ми ставимо умову, щоб перевірити, чи порожній список повідомлень -->
    {% if messages %}
    <!-- Ми встановимо клас із власного css-файлу, який ми створили раніше. І ми хочемо побачити перший пункт у списку. -->
    <div class="flash {{ messages[0][0] }}" role="alert">
        {{ messages[0][1] }}
    </div>

    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}


</body>

</html>