<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title>Чат - {{ title }}</title>
    {% else %}
    <title>Чат м. Жашкова</title>
    {% endif %}

</head>

<body>
    <!-- Flash повідомлення -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    <div class="flash {{ messages[0][0] }}">
        {{ messages[0][1] }}
    </div>

    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}


</body>

</html>