{% from 'form_helper.html' import displayField %}
{% extends 'base.html' %}

{% block content %}

<form action="{{ url_for('register') }}" , method="POST">
	<h2>Реєстрація</h2>

	{{ displayField(form.username, "Ім'я користувача", autocomplete="off", autofocus=true) }}
	{{ displayField(form.password, 'Пароль') }}
	{{ displayField(form.confirm_pswd, 'Введіть пароль ще раз') }}
	
	<div class="form-group">
		<input type="submit" value="Створити" class="btn btn-warning">
	</div>

	{{ form.csrf_token }}

</form>
{% endblock %}